.vertical-align {
    padding-top: 25px;
}
.subphoto{
  font-style: italic;
  font-size: 0.85 em;
}
.segment-annonce .row{
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
}
.module_recherche{
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
}
.suggest{
  background-color: darkgrey;
}
